<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Test">
    <test name="Test Login Application">
        <parameter name="userid" value="Admin"/>
        <parameter name="password" value="admin123"/>
        <classes>
            <class name="TestRun"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->